@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>Escuela [ @ViewBag.Title ]</title>
    <link href="~/Assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br />
    @RenderBody()
    <br />
</body>
</html>
